<link rel="stylesheet" type="text/css" href="/css/style.css" />

<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <img
    width="500px"
    height="500px"
    src="https://c.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif"
    alt=""
  />
  <button type="submit">Log Out</button>
</form>
